/01_ML.ipynb
/02_missing_values.ipynb
/03_inconsistencies_in_data.ipynb
/04_outlier.ipynb
/05_data_integration.ipynb
/06_standard_dcaling.ipynb
/07_data_encoding.ipynb
/08_linear_regression.ipynb
/09_logistic_regression.ipynb
/10_suport_vector_mechine.ipynb
/11_KNN.ipynb
/12_decision_tress.ipynb
/13_random_forest.ipynb
/14_boostin_algorithms.ipynb
/15_catboost.ipynb
/16_native_bayes.ipynb
/17_inverse_transform.ipynb
/18_impute_missing_values.ipynb
/catboost_info
/smartphones.csv